.story {
  display: flex;
  justify-content: center;

  & .countdown-timer {
    font-family: Verdana, Calibri, serif !important;
    font-size: 38px !important;

    &__symbol {
      font-size: 22px;
      padding: 0 10px 0 5px;
    }
  }
}

.color-black {
  background-color: #222222;
  border-radius: 5px;
  padding: 20px;
}

.color-white {
  color: #ffffff;
}

.color-yellow {
  color: #ffdd1d;
}

.color-red {
  border-bottom: 4px solid #ff3355;
}

.color-blue {
  border-bottom: 4px solid #00c2ff;
}

.color-orange {
  border-bottom: 4px solid #ff8d00;
}
